html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('pawel-czerwinski-rectangles.jpg');
    background-size: 100%;
    
}

body{
    max-width: 500px;
    max-height: 1000px;
    margin: 0 auto;
    padding:0 15px 15px 15px;
    background-color:lightgray;
    border: 3px double lightslategray;
    border-radius: 10px;
}


button {
    font-size: large;
}

#rectangle {
    margin: 0 auto;
    border-radius: 10px;
}